* {
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  display: none;
}

html {
  background-color: var(--main-back-color);
  color: var(--main-fore-color);
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  height: 100vh;
  width: 100vw;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.site-icon {
  margin: 5px;
  height: 30px;
}

.user-icon {
  border-radius: 50%;
  height: 50px;
}

.site-name {
  color: white;
}

.topnav {
  background-color: var(--topnav-back-color);
  color: var(--topnav-fore-color);
  overflow: hidden;
  margin: 0px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}

div.card {
  text-align: center;
  margin: 10px;
  padding: 25px;
  background-color: var(--card-bg-color);
  transition: 0.3s;
  width: 400px;
  border-radius: 5px;
}

div.nocard {
  text-align: center;
  width: 400px;
}

div.card:hover {
  background-color: var(--card-bg-color-hover);
  cursor: pointer;
}

a.card, a.card:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 2px 16px;
}

.footer {
  padding: 5px 10px 5px 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-back-color);
  color: white;
}